<h1>Landing Page for Rails 4 Skeleton App</h1>

<p>This app has:</p>
<ul>
	<li>Mongoid</li>
	<li>Devise</li>
	<li>Puma</li>
	<li>jQuery</li>
	<li>Figaro</li>
	<li>ERB</li>
	<li>Simple Form</li>
</ul>
