<h1>Welcome!</h1>
<h3>You are logged in to the Rails 4 Skeleton App</h3>

<p>This app has:</p>
<ul>
	<li>Mongoid</li>
	<li>Devise</li>
	<li>Puma</li>
	<li>jQuery</li>
	<li>Figaro</li>
	<li>ERB</li>
	<li>Simple Form</li>
</ul>
